html, body {
    height: 100%;
}

body {
    margin: 0px;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

p {
    font-family: "Roboto";
}

#mainGrid {
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 350px 1fr;
    margin: 0px;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
    min-height: 100%;
}

.sidebar {
    background-color: purple;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 50px repeat(11, 40px);
    grid-template-columns: 50px 3fr;
    padding: 18px;
    gap: 12px;
    align-items: center;
}

.header {
    background-color: whitesmoke;
    grid-area: header;
    position: relative;
    box-shadow: 0px 5px 5px darkgray;
    display: grid;
    grid-template-columns: 1fr 550px;
    grid-template-rows: 1fr 2fr;
}

.content {
    background-color: rgb(227, 223, 223);
    grid-area: content;
}

#dashboard {
    font-size: 30px;
}

.sidebar > a > img {
    justify-self: center;
    height: 25px
}

.sidebar > a,
.sidebar > p > a {
    justify-self: center;
    height: 25px;
    color: white;
    text-decoration: none;
}

img[src="icons/dashboard.svg"] {
    height: 50px;
}

.sidebar > p {
    margin: 0px;
    color: white;
    font-size: 20px;
}

#search {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-self: center;
    padding-left: 40px;
    gap: 10px;
}

#search > form  {
    align-self: center;
}

#userSearch {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border-color: black;
}

#topRightButtons {
    display: grid;
    grid-template-columns: 25px 50px 1fr;
    padding-left: 150px;
    padding-right: 50px;
    gap: 30px;
    align-items: center;
    justify-self: right;
}

#topRightButtons > a > img[src="img/dog.jpg"] {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#topRightButtons > p {
    font-weight: bold;
}

#greeting {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding-left: 40px;
    align-items: center;
    gap: 20px;
}

#bigProfile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#hi,
#name {
    font-weight: bold;
}

#hi {
    font-size: 16px;
    margin: 10px;
}

#name {
    font-size: 26px;
    margin: 10px;
}

#bottomLeftButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    gap: 20px;
    padding-right: 30px;
    padding-bottom: 35px;
}

button {
    background-color: purple;
    color: white;
    border: 0px;
    border-radius: 15px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
}

#projects {
    grid-area: projects;
}

#announcements {
    grid-area: announcements;
}

#trending {
    grid-area: trending;
}